.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

body {
    padding-top: 60px;
}

.navbar .navbar-brand {
    padding: 10px;
    border-radius: 10px;
    margin-left: 1rem;
    font-weight: 800;
}

.navbar .navbar-brand:hover {
    background-color: 	#007be5;;
    color: white;
}

.navbar .navbar-nav {
    margin-right: 1rem;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-weight: 600;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    background-color: 	#007be5;;
    color: white;
}

@media (min-width: 992px) {
    .navbar .navbar-brand {
        margin-left: 4rem;
    }

    .navbar .navbar-nav {
        margin-right: 7rem;
    }
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    background-color: 	#007be5;
    color: white;
}